@use './variables' as *;

* {
  cursor: url(../images/cursor.png), default;
}

body {
  background: url(../images/bgr.jpg) no-repeat center center fixed;
  background-size: cover;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: #0A1C27;
}

body::-webkit-scrollbar-thumb {
  background-color: #154768;
  border-radius: 10px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

form {
  margin-top: 100px;
  position: relative;
}

input {
  width: 609px;
  height: 46px;
  border-radius: 25px;
  background: $bgr_input;
  border: none;
  padding: 10px 0px 10px 102px;
  color: #524E4E;
  font-size: 30px;
  font-weight: 300;
}

header {
  position: relative;
}

@media screen and (max-width: 1200px) {
  header {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  input {
    width: 370px;
  }
}

@media screen and (max-width: 576px) {
  input {
    width: 260px;
  }

  form {
    margin-top: 200px;
  }
}